# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
**/node_modules
scripts/**/node_modules
scripts/**/output
scripts/**/input.xlsx
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build
/src/semantic/dist

# misc
.DS_Store
.env

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ide
.idea

